nav {
  background-color: #244560;
  padding: 10px;  
}

nav a {
  color: white;
  display: block;
  padding: 20px;

}

h1 {
  color: #244560;  
}

main img {
  width: 150px;
  height: auto;
  border: 5px solid #244560;
  padding: 4px;
  background-color: white;
  margin: 20px;
}
main p {
  padding: 10px;
}

main {
  max-width: 840px;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 2px solid whitesmoke; 
  padding: 1rem;
  background-color: #244560;
  color: white;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
  border: 5px solid white;
  padding: 4px;
  background-color: #244560;
  margin: 20px;
}

footer {
  margin-top: 1em;
  border-top: 4px solid #244560;
  text-align: center;
  padding-top: 4px;
}
