:root {
  --main-color: #244560;
  --secondary-color: white;
  --img-margin: 20px
}

nav {
  background-color: var(--main-color);
  padding: 10px;  
}

nav a {
  color: var(--secondary-color);
  display: block;
  padding: 20px;

}

h1 {
  color: var(--main-color);  
}

main img {
  width: 150px;
  height: auto;
  border: 5px solid var(--main-color);
  padding: 4px;
  background-color: var(--secondary-color);
  margin: var(--img-margin);
}
p {
  padding: 0;
}

main {
  max-width: 840px;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 2px solid var(--secondary-color); 
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--secondary-color);
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
  border: 5px solid var(--secondary-color);
  padding: 4px;
  background-color: var(--main-color);
  margin: var(--img-margin);
}

footer {
  margin-top: 1em;
  border-top: 4px solid var(--main-color);
  text-align: center;
  padding-top: 4px;
}
